---
layout: base.njk
pagination:
  data: pokemon
  size: 8
  alias: poke
---

    {% for i in poke -%}

      <li class="poke-ball">
                <figure>
                <img class="poke-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{(i.url).charAt((i.url).length - 2)}}.png" alt="bulbasaur">
                </figure>
                <h2 class="poke-name" data-id="{{i.name}}">
                    <a href="/pokeinfo.html" title="{{i.name}}">{{i.name}}</a>
                </h2>
                <p class="poke-type">Type: {{pokedetails[(i.url).charAt((i.url).length - 2)]}}</p>
                </li>
          
    {%- endfor %}
