<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Site</title>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
</head>
<body>
<header>
<div class="wrapper">
 <img class="logo" src="../images/logo.jpeg">
     </div>
</header>
<main>
    <div class="wrapper">
    <figure class="poke-img">
        <img src="">
    </figure>
    <h2 class="poke-name">...loading</h2>
    <div class="pokemon-details">
       <div>Hp: <span class="hp">...loading</span></div>
        <div>Attack: <span class="attack">...loading</span></div>
        <div>Defence: <span class="defence">...loading</span></div>
        <div>Special Attack: <span class="special-attack">...loading</span></div>
        <div>Special Defence: <span class="special-defence">...loading</span></div>
        <div>Speed: <span class="speed">...loading</span></div>
    </div>
    <div class="pokemons-details-footer">
    <div>
        <span>Ability</span>
        <span class="ability">ability</span>
    </div>
    <div>
        <span>Hidden Ability</span>
        <span class="hidden-ability">hidden ability</span>
    </div>
    </div>
</main>
<script type="module" src="../scripts/main.js"></script>
</body>
</html>